.backdrop{
    position: fixed;
    z-index: 1; 
    width: 100%; 
    height: 100%;
    overflow: auto; 
    padding-top: 5vh; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal img {
    display: block;
    max-height: 80vh;
    margin: auto;
}

.modal button{
    width: 50%;
}

footer {
    display: block;
    width: 80%;
    max-width: 700px;
    padding: 1em 0;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.modal footer span{
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
    background-color: rgba(255, 255, 255, 0.055); /* Black w/ opacity */
}

@media only screen and (max-width: 700px){
    .modal img {
        width: 100%;
    }
}

@media only screen and (orientation: landscape) {
    .modal img {
        max-width: 50%;
    }
}