@import url('https://fonts.googleapis.com/css?family=Jura:300,400&subset=latin-ext');

body {
    text-align: center;
    font-family: 'Jura', sans-serif;
}
  
#search-box {
    width:30em;
    padding:0.75em;    
    border:0 none;
    outline:none;    
    margin:0 0 1.5em 0;
    font-family: 'Jura', sans-serif;
    background: #ecf0f1;
    transition: width 0.4s ease-in-out;
}
  
#search-box:focus{
    width:calc(100% - 4em);
    background-color: #f0f4f5;
}

button {
    width: calc(50% - 2em);
    outline: none;
    border: none;
    padding: 1em;
    margin: 1em;
    font-family: 'Jura', sans-serif;
}

button:hover{
    background-color: #f0f4f5 ;
}