
figure{
    margin: 0 1em;
}

.gallery {
    column-count:5;
    column-gap:0.25em;
 }

 .gallery img {
   display: block;
   width: 100% !important;
   height: auto !important;
   margin-bottom: 0.25em;
   opacity: 1;
   transition: .5s ease;
   backface-visibility: hidden;
 }
 
 .container {
    position: relative;
}

 .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
  }
  
  .container:hover img {
    opacity: 0.3;
    cursor: pointer;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .icon {
    color:black;
    font-size: 3em;
  }

 @media (max-width: 1200px) {
   .gallery {
   column-count:4;
   }
 }
 @media (max-width: 1000px) {
   .gallery {
   column-count:3;
   }
 }
 @media (max-width: 800px) {
   .gallery {
   column-count:2;
   }
 }
 @media (max-width: 400px) {
   .gallery {
   column-count:1;
   }
 }
 
